<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.siteview.om.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.siteview.om.Perspective"
            id="com.siteview.om.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.siteview.om.application"
            name="com.siteview.om">
         <property
               name="appName"
               value="com.siteview.om">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.siteview.om.SendOM"
            id="com.siteview.om.view"
            name="任务"
            restorable="true">
      </view>
      <view
            class="com.siteview.om.commands.ShowAllIncident"
            id="com.siteview.om.showincident"
            name="任务列表"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="config"
               label="配置">
            <command
                  commandId="UserConfig"
                  label="用户配置"
                  style="push">
            </command>
         </menu>
         <menu
               id="new"
               label="新建">
            <command
                  commandId="newIncident"
                  label="新建任务"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.siteview.om.commands.UserConfig"
            id="UserConfig"
            name="用户配置">
      </command>
      <command
            defaultHandler="com.siteview.om.commands.NewIncident"
            id="newIncident"
            name="新建任务">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.om.commands.NewIncidentEdit"
            default="false"
            id="com.siteview.om.newIncident"
            name="新建任务">
      </editor>
      <editor
            class="com.siteview.om.commands.ShowIncidentEdit"
            default="false"
            id="com.siteview.om.showIncident"
            name="展示任务">
      </editor>
   </extension>

</plugin>
